.nav{
    display: flex;
    justify-content: space-around;
    background-color: white;
    
}
.nav h1{
    font-style: italic;
    font-weight: bolder;
    color: red;
}
.input{
    margin-top: 13px;
}
.input input{
    width: 20vw;
}
.logo{
    cursor: pointer;
}